*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
button{
  cursor: pointer;
}
li{
  list-style: none;
}
button,input{
  background: none;
  border: none;
}
input:focus-visible{
  outline: none;
}