.nav {
  display: flex;
  padding: 15px 150px;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: 111px;
}

.nav-list-item {
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.nav-list-item:not(:last-child) {
  margin-right: 41px;
}

.nav-acc {
  display: flex;
  align-items: center;
  column-gap: 27px;
}

.nav-acc-logSign {
  background: #ffb36c;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all .4s;
}
.nav-acc-logSign:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-acc-profile {
  width: 50px;
  height: 50px;
}